body {
    background-color: rgb(101, 107, 225);
    color: rgb(0, 0, 0);
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container img{
    border: 2px solid #000;
    border-radius: 50px;  
    
}

p {
    text-align: left;
    font-family: monospace;
    background-color: rgb(164, 163, 163);
}

h1 {
    text-decoration: underline;
    font-family: serif;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}